
    nav {
      margin-bottom: 0;
      padding-bottom: 0;
    }
    
    .barbie-logo {
     width: 60px;
      height: auto;
}
    body {
      padding-top: 0;
      margin-top: 0;
      background: linear-gradient(to bottom, rgb(255, 215, 221), white);
    }
   .page-one {
      padding-top: 0;
      margin-top: 0;
      height: auto;
      padding-bottom: 80px;
      width: 100%;
}

  h1 .heading-span {
    font-size: 90px;
    color: rgb(255, 157, 173);
    font-family: 'EB Garamond', serif;
    font-family: 'Lumanosimo', cursive;
    font-family: 'Playfair Display', serif;

}
h1 {
  padding-top: 20px;
  font-size: 40px;
  color: rgb(255, 64, 198);
  font-family: 'EB Garamond', serif;
  font-family: 'Lumanosimo', cursive;
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 400px;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}
.barbie-face-logo {
  width: 500px;
  height: auto;
  margin: 10px auto;
  display: block;
}
a.social-links {
  color: rgb(253, 174, 187);
  font-size: 40px;
  margin-left: 20px;
  display: block;
  position: fixed;
  margin-bottom: 10px;
  transition: all 100ms ease-in-out;
}
.social-one {
  margin-top: -150px;
  opacity: 0.9;
  padding-top: 0;
  padding-left: 3px;
  
}
.social-links:hover {
  background-color: rgb(255, 0, 170);
  width: 45px;
  border-radius: 100%;
  
  
}
.social-two {
  margin-top: -100px;
  opacity: 0.9;
  padding-left: 5px;
}
.social-three {
  margin-top: -50px;
  opacity: 0.9;
  padding-left: 5px;
}

@media (max-width: 700px){
  .page-one {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px; 
    
  }
  h1 {
    font-size: 40px;
    padding-top: 20px;
  }
  h2 {
    font-size: 30px;
    padding-top: 20px;
  }
  span.heading-span {
    font-size: 50px;
  }
  img.barbie-face-logo {
    width: 400px;
    height: auto;
  }
  a.social-links {
    font-size: 30px;
    padding-bottom: 0;
    margin-bottom: 2px;
    
  }
  .social-links:hover {
    width: 36px;
    border-radius: 100%
  }
  
}
.barb-quote-line {
    color: rgb(255, 78, 152);
    margin-top: 70px;
    font-size: 20px;
    margin-left: 100px;
  }
  .bq-paragraph {
    color: rgb(255, 131, 179);
    font-size: 17px;
    margin-left: 100px;
  }
  .f-r-line {
    color: rgb(255, 78, 152);;
    font-size: 20px;
    margin-left: 100px;
  }
  .f-r-paragraph {
    font-size: 17px;
    margin-left: 100px;
    color: rgb(255, 131, 179);
  }

/* Page two */

#quotes-page {
  background: url("img/1031606_barbie-wallpapers-barbie-wallpapers-for-girls_1600x900_h.jpg");
   background-size: cover;
  background-repeat: repeat;
  
}
h1.barbie-quotes-line {
  text-align: center;
  font-size: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
}
h1.barbie-quotes-line {
  padding-top: 20px;
  font-size: 40px;
  color: rgb(255, 1, 158);
  font-family: 'EB Garamond', serif;
font-family: 'Lumanosimo', cursive;
font-family: 'Playfair Display', serif;
  text-align: center;
  font-weight: 400px;
  font-style: italic;
  margin-bottom: 0;
  padding-bottom: 20px;
}
p.quote {
  text-align: center;
  font-family: 'EB Garamond', serif;
font-family: 'Lumanosimo', cursive;
font-family: 'Playfair Display', serif;
  font-size: 18px;
 
}
a.more-info-link-quotes {
  text-align: center;
  text-decoration: none;
  color:rgb(253, 194, 234);
  display: block;
  margin: 0 auto;
  padding-bottom: 10px;
  font-size: 18px;
  margin-bottom: 0;
  padding-bottom: 30px;
  
}

@media (width: 700px) {
  p.quote {
    padding-left: 5px;
    padding-right: 5px;
  }
  #quotes-page {
    height: auto;
  }
}

/* Page three */

#special-closet {
box-sizing: border-box;
margin-top: 0;
margin: 0;
font-family: sans-serif;
background: #f5f6f7;
}

.header-closet {
text-align: center;
text-transform: uppercase;
padding: 32px;
background-color: pink;
color: #ff00aa;
border-bottom: 4px solid pink;
font-family: 'EB Garamond', serif;
font-family: 'Lumanosimo', cursive;
font-family: 'Playfair Display', serif;
font-style: italic;
margin-top: 0;
}

.gallery {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 16px;
max-width: 1400px;
margin: 0 auto;
padding: 20px 10px;
}

.gallery img {
width: 100%;
max-width: 350px;
height: 300px;
object-fit: cover;
border-radius: 10px;
}
.gallery::after {
content:"";
width: 350px;
}
.gallery img {
  border: 1px solid pink;
  -webkit-transition: background-image 0.1s;
}

/* Page four */

.header-movies {
text-align: center;
text-transform: uppercase;
padding: 32px;
opacity: 0.7;
color: #ff00aa;
border-bottom: 4px solid pink;
font-family: 'EB Garamond', serif;
font-family: 'Lumanosimo', cursive;
font-family: 'Playfair Display', serif;
font-style: italic;
}
header.movie-title {
  padding: 0;
  margin: 0;
}
header.movie-paragraph {
padding: 0;
margin: 0;
}
.movie-list {
margin: 0 auto;
display: block;
width: 60%;
height: auto;
padding-top: 20px;
padding-bottom: 40px;
 }
.movies {
background: rgb(253, 227, 231);
 }
    /* Page five */

      #my-barbie-house {
        background: white;
        border-bottom: 4px solid pink;
        border-top: 4px solid pink;
        }
        p.paragraph-one-house {
          font-size: 50px;
          color: rgb(255, 123, 204);
          text-align: center;
          font-family: 'EB Garamond', serif;
          font-family: 'Lumanosimo', cursive;
          font-family: 'Playfair Display', serif;
          font-style: italic;
          font-weight: bold;
          padding-bottom: 0;
          margin-bottom: 0;
          padding-top: 30px;
    }
    img.barbie-house {
      width: 900px;
      height: auto;
      display: block;
      margin: 0 auto;
      padding-bottom: 50px;
    }
        p.paragraph-two-house {
          font-size: 30px;
          color: rgb(255, 167, 221);
          text-align: center;
          font-family: 'EB Garamond', serif;
          font-family: 'Lumanosimo', cursive;
          font-family: 'Playfair Display', serif;
          margin-top: 0;
          padding-top: 0;
          padding-bottom: 20px;
        }
        
        @media (max-width:700px) {
          img.barbie-house {
            width: 500px;
            padding-left: 5px;
            padding-right: 5px;
            height: auto;
          }
        }
        /*page six*/

        #friends-request {
        display: block;
        text-align: center;
        font-family: 'EB Garamond', serif;
        font-family: 'Lumanosimo', cursive;
        font-family: 'Playfair Display', serif;
        background: url(img/white\ background\ glitter.jpg);
        padding: 0 auto;
        margin: 0;
        width: 100%;
        height: auto;
        padding-left: 0;
        margin-left: 0;
        padding-bottom: 20px;
        border-bottom: 4px solid pink;
     
}
        .friends-paragraph-one {
          font-size: 50px;
          color: #ff57b3;
          font-weight: bold;
          font-style: italic;
          margin-bottom: 0;
          padding-bottom: 20px;
          padding-top: 20px;
          margin-top: 0

  
        }
        .friends-button {
          padding: 5px;
          color: rgb(255, 131, 207);
          background-color: white;
          border: pink;
          border-style: solid;
          border-radius: 10px;
          width: 300px;
          height: auto;
          font-size: 20px;
          margin-bottom: 30px;
          transition: all 100ms ease-in-out;
        }
        .friends-button:hover {
          opacity: 0.8;
         
        }
        a.friends-link {
          text-decoration: 0;
          color: rgb(255, 131, 207);
          font-family: 'EB Garamond', serif;
          font-family: 'Lumanosimo', cursive;
          font-family: 'Playfair Display', serif;
        }
        a.friends-link:hover {
          color:rgb(255, 0, 170);
        }
         a.back-home-page-link {
          text-decoration: 0;
          color: rgb(255, 0, 170);
          font-family: 'EB Garamond', serif;
          font-family: 'Lumanosimo', cursive;
          font-family: 'Playfair Display', serif;
          
        }
         a.back-home-page-link:hover {
          text-decoration: underline;
          color: rgb(255, 0, 170);
        }
        footer {
         color: rgb(255, 152, 169);
    
        }
       footer a {
         color: black;
}
  